#content main .head-title .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    background: none;
}
#content main .head-title .left .breadcrumb li {
    color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
    color: var(--dark);
    pointer-events: none;
}

body.dark {
    --light: #0c0c1e;
    --grey: #060714;
    --dark: #fbfbfb;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--grey);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1,
h2,
p,
label {
    color: var(--dark);
}

.report-container {
    max-width: 1000px;
    margin: 0 auto;
    background: var(--light);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.filter-container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.tab-container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 8px 5px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: var(--dark);
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 5px;
    text-align: left;
    text-align: center;
}

th {
    background-color: var(--light);
    color: var(--dark);
}

tr:nth-child(even) {
    background-color: var(--light);
}

.tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.tab-link {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

.tab-link:hover {
    background-color: #ddd;
}

.tab-link.active {
    background-color: #fff;
    border-bottom: 2px solid #2196f3;
}

.tab-content {
    display: none;
    padding: 20px 0;
}

.tab-content.active {
    display: block;
}
